
<div class="container">
  <div class="row">
    <h4><span class="pr-4 pl-4" style="background-color:whitesmoke;">注文履歴一覧</span></h4>
  </div>
  <div class="row">
    <div class="col-lg-10">
    <table class="table table-inverse table-bordered">
      <thead>
        <tr style="background-color:whitesmoke;">
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at, admin_order_path(order.id) %></td>
            <td><%= order.name %></td>
            <td><%= order.order_details.sum(:amount) %></td>
            <td><%= order.order_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 offset-md-5">
      <div class="text-center"><%= paginate @orders %></div>
    </div>
  </div>
</div>