<div class="container">
  <div class="row mt-4">
    <div class="col-md-5 offset-md-1">
      <h4><span class="pr-4 pl-4" style="background-color:whitesmoke;">配送先編集</span></h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <%= form_with model: @address,url: addresses_path do |f| %>
      <table class="table">
        <tr>
          <td><%= f.label :postal_code, "郵便番号(ハイフンなし)"%></td>
          <td><%= f.text_field :postal_code %></td>
         <tr>
          <td><%= f.label :address, "住所"%></td>
          <td><%= f.text_area :address, class: "form-control" %></td>
         </tr>
         <tr>
          <td><%= f.label :name, "宛名"%></td>
          <td><%= f.text_field :name %></td>
          <td></td>
          <td><%= f.submit '変更内容を保存', class:"btn btn-md btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>