
<div class="container">
  <div class="row mt-4">
    <div class="col-10 offset-md-1">
      <h4 crass="text-left"><span class="pr-4 pl-4" style="background-color:whitesmoke;">注文情報確認</span></h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-8">
      <table class="table table-inverse table-bordered">
        
          <tr style="background-color:whitesmoke;">
            <th style="width:380px;">商品名</th>
            <th style="width:140px;">単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        
        
          <% @cart_items.each do |cart_item| %>
          <tr style="line-height:50px;">
            <td><%= image_tag cart_item.item.image, :size =>'50x50' %><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price.floor.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal.floor.to_s(:delimited) %></td>
          </tr>
          <% @total +=  cart_item.subtotal %>
          <% end %>
        
      </table>
    </div>
    <div class="col-lg-3 offset-md-1">
      <table class="table table-bordered">
     
          <tr>
              <td style="background-color:whitesmoke;">送料</td>
              <td><%= @order.postage %></td>
          </tr>
          <tr>
              <td style="background-color:whitesmoke;">商品合計</td>
             
              <td><%= @total.floor.to_s(:delimited) %></td>
              
          </tr>
          <tr>
              <td style="background-color:whitesmoke;">請求金額</td>
              <% @order.billing_amount = @order.postage + @total %>
              <td><%= @order.billing_amount.floor.to_s(:delimited) %></td>
              
          </tr>
     
      </table>
      
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td style="width:150px;">支払方法</td>
          <td><%= @order.payment_i18n %></td>
        </tr>
        <tr>
          <td>お届け先</td>
          <td>〒<%= @order.address %><%= @order.postal_code %></br>
          <%= @order.name %></td>
        </tr>
        <tr>
        <%= form_with model: @order, url: orders_path do |f| %>
          
          <td><%= f.hidden_field :name, :value => @order.name %>
          <%= f.hidden_field :postal_code, :value => @order.postal_code %>
          <%= f.hidden_field :address, :value => @order.address %>
          <%= f.hidden_field :payment, :value => @order.payment %>
          <%= f.hidden_field :postage, :value => @order.postage %>
          <%= f.hidden_field :billing_amount, :value => @order.billing_amount %>
          <%= f.hidden_field :order_status, :value => @order.order_status %>
          </td>
          <td class="text-center"><%= f.submit '注文を確定する', class:"btn btn-lg btn-success pr-4 pl-4" %></td>
        <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>