<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 offset-1">
      <h4><span class="pr-4 pl-4" style="background-color:whitesmoke;">注文履歴一覧</span></h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color:whitesmoke;">
            <th>注文日</th>
            <th style="width:500px;">配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td style="line-height:80px;"><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>〒<%= order.postal_code %></br><%= order.address %></br><%= order.name %></td>
              <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %></br>
              <% end %>
              </td>
              <td style="line-height:80px;"><%= order.billing_amount.floor.to_s(:delimited) %>円</td>
              <td></td>
              <td style="line-height:80px;"><%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>